---
import BaseLayout from "@components/base/BaseLayout.astro";
---

<BaseLayout title="Chat">
  <section class="section">
    <div class="container">
      <div class="row justify-center">
        <div class="text-center lg:col-8">
          <h1 class="mb-4">Chat</h1>
          <p class="mb-8">Revolt Chat</p>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
