---
import BaseLayout from "@components/base/BaseLayout.astro";
---

<BaseLayout title="Login & Sign Up">
  <section class="section pt-20">
    <div class="container">
      <div class="row justify-center">
        <div class="lg:col-5">
          <div class="text-center mb-8">
            <h1 class="mb-4 neon-title flicker-text">Sign-Up & Login</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
