---
import BaseLayout from "@components/base/BaseLayout.astro";
---

<BaseLayout title="Login">
  <section class="section">
    <div class="container">
      <div class="row justify-center">
        <div class="text-center lg:col-6">
          <h1 class="mb-4">Login</h1>
          <p class="mb-8">Login page & Sign-Up</p>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
