---
// Custom Starfield Background
---

<div class="ring ring-left"></div>
<div class="ring ring-right"></div>
<div id="stars"></div>
<div id="stars2"></div>
<div id="stars3"></div>

<style>
  body {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%) !important;
    min-height: 100vh;
    overflow: hidden;
  }

  #stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 45vw 30vh #FFF, 7vw 70vh #FFF, 98vw 105vh #FFF, 76vw 55vh #FFF, 37vw 42vh #FFF, 29vw 8vh #FFF, 72vw 74vh #FFF, 43vw 10vh #FFF, 32vw 88vh #FFF, 11vw 96vh #FFF, 82vw 27vh #FFF, 34vw 97vh #FFF, 18vw 74vh #FFF, 24vw 0vh #FFF, 95vw 9vh #FFF, 0vw 1vh #FFF, 68vw 25vh #FFF, 82vw 51vh #FFF, 20vw 48vh #FFF, 71vw 83vh #FFF;
    filter: drop-shadow(0 0 2px rgba(255,255,255,0.8));
    animation: animStar 200s linear infinite;
  }

  #stars:after {
    content: " ";
    position: absolute;
    top: 200vh;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 45vw 30vh #FFF, 7vw 70vh #FFF, 98vw 105vh #FFF, 76vw 55vh #FFF, 37vw 42vh #FFF, 29vw 8vh #FFF, 72vw 74vh #FFF, 43vw 10vh #FFF, 32vw 88vh #FFF, 11vw 96vh #FFF, 82vw 27vh #FFF, 34vw 97vh #FFF, 18vw 74vh #FFF, 24vw 0vh #FFF, 95vw 9vh #FFF, 0vw 1vh #FFF, 68vw 25vh #FFF, 82vw 51vh #FFF, 20vw 48vh #FFF, 71vw 83vh #FFF;
    filter: drop-shadow(0 0 2px rgba(255,255,255,0.8));
  }

  #stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 44vw 81vh #FFF, 3vw 102vh #FFF, 30vw 19vh #FFF, 18vw 71vh #FFF, 50vw 28vh #FFF, 20vw 102vh #FFF, 54vw 99vh #FFF, 6vw 89vh #FFF, 87vw 24vh #FFF, 68vw 23vh #FFF, 81vw 35vh #FFF, 67vw 102vh #FFF, 81vw 3vh #FFF, 91vw 88vh #FFF, 61vw 71vh #FFF, 49vw 24vh #FFF;
    filter: drop-shadow(0 0 3px rgba(255,255,255,0.9));
    animation: animStar 300s linear infinite;
  }

  #stars2:after {
    content: " ";
    position: absolute;
    top: 200vh;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 44vw 81vh #FFF, 3vw 102vh #FFF, 30vw 19vh #FFF, 18vw 71vh #FFF, 50vw 28vh #FFF, 20vw 102vh #FFF, 54vw 99vh #FFF, 6vw 89vh #FFF, 87vw 24vh #FFF, 68vw 23vh #FFF, 81vw 35vh #FFF, 67vw 102vh #FFF, 81vw 3vh #FFF, 91vw 88vh #FFF, 61vw 71vh #FFF, 49vw 24vh #FFF;
    filter: drop-shadow(0 0 3px rgba(255,255,255,0.9));
  }

  #stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 89vw 53vh #FFF, 48vw 67vh #FFF, 60vw 1vh #FFF, 72vw 16vh #FFF, 29vw 75vh #FFF, 34vw 11vh #FFF;
    filter: drop-shadow(0 0 4px rgba(255,255,255,1));
    animation: animStar 400s linear infinite;
  }

  #stars3:after {
    content: " ";
    position: absolute;
    top: 200vh;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 89vw 53vh #FFF, 48vw 67vh #FFF, 60vw 1vh #FFF, 72vw 16vh #FFF, 29vw 75vh #FFF, 34vw 11vh #FFF;
    filter: drop-shadow(0 0 4px rgba(255,255,255,1));
  }

  @keyframes animStar {
    from {
      transform: translateY(0vh);
    }
    to {
      transform: translateY(-300vh);
    }
  }

  .ring {
    position: absolute;
    width: 4px;
    height: 150px;
    background: #FF00FF;
    border: none;
    outline: none !important;
    box-shadow: none !important;
    filter: drop-shadow(0 0 10px #FF00FF) drop-shadow(0 0 30px #FF00FF) drop-shadow(0 0 50px #FF00FF);
    animation: flyUp 20s linear infinite;
  }
  
  @keyframes flyUp {
    0% {
      transform: translateY(100vh);
    }
    100% {
      transform: translateY(-100vh);
    }
  }
  
  .ring::before {
    content: "🍔🆓";
    position: absolute;
    top: -30px;
    left: -20px;
    color: #FF00FF;
    font-size: 2em;
  }

  .ring-left {
    left: 50px;
  }

  .ring-right {
    right: 50px;
    background: #FF70FF;
    filter: drop-shadow(0 0 10px #FF70FF) drop-shadow(0 0 30px #FF70FF) drop-shadow(0 0 50px #FF70FF);
    animation-delay: -10s;
  }
  
  .ring-right::before {
    content: "🍟";
    color: #FF70FF;
  }
</style>
