---

const { pathname } = Astro.url;

const stickyHeader = true;

const menu = [
  {
    name: "Home",
    url: "/",
  },
];
---

<header
  transition:persist
  class={`container glass py-2 z-30 mb-4 lg:mt-4 lg:rounded-lg ${stickyHeader && "sticky top-0"}`}
>
  <nav class="relative flex flex-wrap items-center justify-between">
    <ul
      id="nav-menu"
      class="text-center lg:text-left order-1 flex w-auto space-x-2 lg:space-x-4"
    >
      {
        menu.map((item) => (
          <li class="">
            <a
              href={item.url}
              class={`block p-2 font-secondary font-semibold text-txt-p transition dark:text-darkmode-txt-p lg:px-2 lg:py-3 ${
                (pathname === `${item.url}/` || pathname === item.url) &&
                "active"
              }`}
            >
              {item.name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
